app-monthly-summary-data-table {

  table {
    font-size: 0.6875em;
  }

  //@media (max-width: 576px) {
  //  .header {
  //    font-size: 1.875em;
  //  }
  //}

  //table th {
  //  text-align: center;
  //}

  //.table-div {
  //  overflow: auto;
  //  white-space: nowrap;
  //}

  .month-label-div {
    padding-top: 0.9375em;
  }

  .date-picker {
    font-size: 0.75em;
    margin-left: 0.3125em;
  }

  .date-picker-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }

  .date-picker-month-picker .mat-calendar-arrow {
    display: none;
  }

  // sort icons

  .pi-sort-alt:before {
    //content: '\e903 \A \e902';
    content: '';
  }

  .pi-sort-amount-up-alt:before {
    content: '\e903';
    font-size: 10px;
  }

  .pi-sort-amount-down:before {
    content: '\e902';
    font-size: 10px;
  }

  // primeng sideBar

  .p-sidebar-content {
    height: 100%;
  }

  // primeng table

  .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .layout-news-active .p-datatable tr > th {
    top: 0;
  }

  @media screen and (max-width: 64em) {
    .p-datatable .p-datatable-thead > tr > th {
      top: 0;
    }

    .layout-news-active .p-datatable tr > th {
      top: 0;
    }
  }

}
