<!--<div class="mb-3 d-flex justify-content-start">-->
<!--  <div class="d-flex align-content-center month-label-div">-->
<!--    <h5>Mois -</h5>-->
<!--  </div>-->
<!--  <div class="d-flex align-content-center date-picker">-->
<!--    <mat-form-field appearance="outline">-->
<!--      <input matInput [matDatepicker]="dp" [formControl]="date"-->
<!--             [min]="minDate" [max]="maxDate">-->
<!--      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #dp-->
<!--                      startView="year"-->
<!--                      (yearSelected)="chosenYearHandler($event)"-->
<!--                      (monthSelected)="chosenMonthHandler($event, dp)"-->
<!--                      panelClass="date-picker-month-picker">-->
<!--      </mat-datepicker>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--</div>-->


<div class="row mt-3">
  <div class="col-12">


    <p-sidebar [(visible)]="display"
               position="right"
               styleClass="p-sidebar-md">
      <app-export-data-excel
        [startMonth]="selectedMonthDateFormat"
        (reloadDataAfterExcelExportationEvent)="handleReloadDataAfterExcelExportationEvent($event)">
      </app-export-data-excel>
    </p-sidebar>


    <p-table #dt1 [columns]="cols" [value]="data"
             dataKey="consultantID" [rows]="50" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
             [loading]="loading"
             styleClass="p-datatable-customers p-datatable-striped p-datatable-gridlines"
             [paginator]="true" responsiveLayout="scroll"
             currentPageReportTemplate="{first} à {last} entrées sur {totalRecords}"
             [globalFilterFields]="['consultantFullName', 'finalCustomerName', 'commercialFullName']">
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
          <div>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="display = true"
                    pTooltip="EXCEL" tooltipPosition="bottom" style="margin-right: 5px;"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"
                    style="margin-right: 5px;"></button> -->
            <button type="button" pButton pRipple icon="pi pi-print" onclick="window.print()"
                    class="p-button-info" pTooltip="Print" tooltipPosition="bottom"></button>
          </div>
          <div class="d-flex justify-content-start">
            <div class="d-flex align-content-center month-label-div">
              <h5>Mois -</h5>
            </div>
            <div class="d-flex align-content-center date-picker">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="dp" [formControl]="date"
                       [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="date-picker-month-picker">
                </mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <span>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains',dt1)"
                       placeholder="Chercher"/>
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th colspan="13">
            <div
              class="p-d-flex p-jc-between p-ai-center"
              style="text-align: center">{{date.value.format('MMM-YYYY')}}</div>
          </th>
        </tr>
        <tr>
          <th colspan="6"></th>
          <th>
            <div
              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.forecastCustomerBillingHTTotal ? Number((totalsAmounts?.forecastCustomerBillingHTTotal!).toFixed(2)) + '€' : '-'}}</div>
          </th>
          <th>
            <div
              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.customerInvoiceReceivedHTTotal ? Number((totalsAmounts?.customerInvoiceReceivedHTTotal!).toFixed(2)) + '€' : '-'}}</div>
          </th>
          <!--          <th>-->
          <!--            <div-->
          <!--              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.customerInvoiceReceivedTTCTotal ? Number((totalsAmounts?.customerInvoiceReceivedTTCTotal!).toFixed(2)) + '€' : '-'}}</div>-->
          <!--          </th>-->
          <th></th>
          <th>
            <div
              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.provisionalInvoicingSupplierHTTotal ? Number((totalsAmounts?.provisionalInvoicingSupplierHTTotal!).toFixed(2)) + '€' : '-'}}</div>
          </th>
          <th>
            <div
              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.supplierInvoiceReceivedHTTotal ? Number((totalsAmounts?.supplierInvoiceReceivedHTTotal!).toFixed(2)) + '€' : '-'}}</div>
          </th>
          <!--          <th>-->
          <!--            <div-->
          <!--              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.supplierInvoiceReceivedTTCTotal ? Number((totalsAmounts?.supplierInvoiceReceivedTTCTotal!).toFixed(2)) + '€' : '-'}}</div>-->
          <!--          </th>-->
          <th></th>
          <th>
            <div
              class="p-d-flex p-jc-between p-ai-center">{{totalsAmounts?.marginTotal ? Number((totalsAmounts?.marginTotal!).toFixed(2)) + '€' : '-'}}</div>
          </th>
        </tr>
        <tr>

          <th pSortableColumn="consultantFullName">
            <div class="p-d-flex p-jc-between p-ai-center">
              Consultant
              <!-- <p-columnFilter type="text" field="consultantFullName" display="menu"></p-columnFilter> -->
              <p-sortIcon field="consultantFullName"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="finalCustomerName">
            <div class="p-d-flex p-jc-between p-ai-center">
              Client
              <!-- <p-columnFilter type="text" field="finalCustomerName"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="finalCustomerName"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="isEmployee">
            <div class="p-d-flex p-jc-between p-ai-center">
              S/I
              <!-- <p-columnFilter type="boolean" field="isEmployee"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="isEmployee"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="commercialFullName">
            <div class="p-d-flex p-jc-between p-ai-center">
              Commercial
              <!-- <p-columnFilter type="text" field="commercialFullName" display="menu"></p-columnFilter> -->
              <p-sortIcon field="commercialFullName"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="monthProduction">
            <div class="p-d-flex p-jc-between p-ai-center">
              Production du mois
              <!-- <p-columnFilter type="numeric" field="monthProduction"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="monthProduction"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="orderRemainingDays">
            <div class="p-d-flex p-jc-between p-ai-center">
              Jours restants
              <!-- <p-columnFilter type="numeric" field="monthProduction"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="orderRemainingDays"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="forecastCustomerBillingHT">
            <div class="p-d-flex p-jc-between p-ai-center">
              Fact. prév. client
              <!-- <p-columnFilter type="numeric" field="forecastCustomerBillingHT"  display="menu" ></p-columnFilter> -->
              <p-sortIcon field="forecastCustomerBillingHT"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="customerInvoiceReceivedHT">
            <div class="p-d-flex p-jc-between p-ai-center">
              Fact. client
              <!-- <p-columnFilter type="numeric" field="customerInvoiceReceivedHT" display="menu"></p-columnFilter> -->
              <p-sortIcon field="customerInvoiceReceivedHT"></p-sortIcon>
            </div>
          </th>

          <!--          <th pSortableColumn="customerInvoiceReceivedTTC">-->
          <!--            <div class="p-d-flex p-jc-between p-ai-center">-->
          <!--              Facturation client TTC-->
          <!--              &lt;!&ndash; <p-columnFilter type="numeric" field="customerInvoiceReceivedTTC" display="menu"></p-columnFilter> &ndash;&gt;-->
          <!--              <p-sortIcon field="customerInvoiceReceivedTTC"></p-sortIcon>-->
          <!--            </div>-->
          <!--          </th>-->

          <th pSortableColumn="customerPayment">
            <div class="p-d-flex p-jc-between p-ai-center">
              Paiement client reçu
              <!-- <p-columnFilter type="text" field="customerPayment"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="customerPayment"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="provisionalInvoicingSupplierHT">
            <div class="p-d-flex p-jc-between p-ai-center">
              Fact. prév. fournisseur
              <!-- <p-columnFilter type="numeric" field="provisionalInvoicingSupplierHT" display="menu"></p-columnFilter> -->
              <p-sortIcon field="provisionalInvoicingSupplierHT"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="supplierInvoiceReceivedHT">
            <div class="p-d-flex p-jc-between p-ai-center">
              Fact. fournisseur
              <!-- <p-columnFilter type="numeric" field="supplierInvoiceReceivedHT"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="supplierInvoiceReceivedHT"></p-sortIcon>
            </div>
          </th>

          <!--          <th pSortableColumn="supplierInvoiceReceivedTTC">-->
          <!--            <div class="p-d-flex p-jc-between p-ai-center">-->
          <!--              Facture fournisseur reçu TTC-->
          <!--              &lt;!&ndash; <p-columnFilter type="numeric" field="supplierInvoiceReceivedTTC"  display="menu"></p-columnFilter> &ndash;&gt;-->
          <!--              <p-sortIcon field="supplierInvoiceReceivedTTC"></p-sortIcon>-->
          <!--            </div>-->
          <!--          </th>-->

          <th pSortableColumn="supplierPayment">
            <div class="p-d-flex p-jc-between p-ai-center">
              Paiement fournisseur
              <!-- <p-columnFilter type="text" field="supplierPayment"  display="menu"></p-columnFilter> -->
              <p-sortIcon field="supplierPayment"></p-sortIcon>
            </div>
          </th>

          <th pSortableColumn="margin">
            <div class="p-d-flex p-jc-between p-ai-center">
              Marge
              <!-- <p-columnFilter type="numeric" field="margin" display="menu"></p-columnFilter> -->
              <p-sortIcon field="margin"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dataRow>
        <tr>
          <td>{{dataRow?.consultantFullName! ? dataRow?.consultantFullName! : '-'}}</td>
          <td>{{dataRow?.finalCustomerName! ? dataRow?.finalCustomerName! : '-'}}</td>
          <td>{{dataRow?.isEmployee! ? 'S' : 'I'}}</td>
          <td>{{dataRow?.commercialFullName! ? dataRow?.commercialFullName! : '-'}}</td>
          <td>{{dataRow?.monthProduction! ? dataRow?.monthProduction! : '-'}}</td>
          <td>{{dataRow?.orderRemainingDays! ? dataRow?.orderRemainingDays! : '-'}}</td>
          <td
            [class]="checkRowError_forecastCustomer(dataRow) ? 'monthly-data-errored-row' : ''">{{dataRow?.forecastCustomerBillingHT! ? Number((dataRow?.forecastCustomerBillingHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td
            [class]="checkRowError_forecastCustomer(dataRow) || checkRowError_supplierInvoice(dataRow) ? 'monthly-data-errored-row' : ''">{{dataRow?.customerInvoiceReceivedHT! ? Number((dataRow?.customerInvoiceReceivedHT!).toFixed(2)) + ' €' : '-'}}</td>
          <!--          <td>{{dataRow?.customerInvoiceReceivedTTC! ? Number((dataRow?.customerInvoiceReceivedTTC!).toFixed(2)) + ' €' : '-'}}</td>-->
          <td>{{dataRow?.customerPayment! ? dataRow?.customerPayment! : '-'}}</td>
          <td>{{dataRow?.provisionalInvoicingSupplierHT! ? Number((dataRow?.provisionalInvoicingSupplierHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td
            [class]="checkRowError_supplierInvoice(dataRow) ? 'monthly-data-errored-row' : ''">{{dataRow?.supplierInvoiceReceivedHT! ? Number((dataRow?.supplierInvoiceReceivedHT!).toFixed(2)) + ' €' : '-'}}</td>
          <!--          <td>{{dataRow?.supplierInvoiceReceivedTTC! ? Number((dataRow?.supplierInvoiceReceivedTTC!).toFixed(2)) + ' €' : '-'}}</td>-->
          <td>{{dataRow?.supplierPayment! ? dataRow?.supplierPayment! : '-'}}</td>
          <td>{{dataRow?.margin! ? Number((dataRow?.margin!).toFixed(2)) + ' €' : '-'}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="13">Aucune donnée disponible !</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
<!--
 </div>
</div> -->
