<div id="side-bar-container">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h2>Exporter un fichier excel</h2>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-6 d-flex justify-content-center align-items-center">

      <span class="date-picker-text">De : </span>

      <p-calendar [(ngModel)]="startMonth" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                  yearRange="2020:2030"
                  [minDate]="startMonthMinDate"
                  [maxDate]="startMonthMaxDate"
                  (onSelect)="handleStartMonthSelect()"></p-calendar>

    </div>

    <div class="col-6 d-flex justify-content-center align-items-center">

      <span class="date-picker-text">À : </span>

      <p-calendar [(ngModel)]="endMonth" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                  yearRange="2020:2030"
                  [minDate]="endMonthMinDate"
                  [maxDate]="endMonthMaxDate"></p-calendar>

    </div>

  </div>

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">

      <button mat-raised-button color="primary"
              (click)="startExcelFileExportation()">Exporter
      </button>

    </div>
  </div>

</div>
