<app-ngx-spinner></app-ngx-spinner>
<div id="app-wrapper-container" class="wrapper">
  <!--  <app-sidebar></app-sidebar>-->
  <div id="app-main-container" class="main">
    <!--    <app-navbar></app-navbar>-->
    <main class="content">
      <div class="container-fluid p-0">
        <router-outlet></router-outlet>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
