<nav id="sidebar" class="sidebar js-sidebar collapsed">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" (click)="changeActivatedSection(true)" [routerLink]="['/']">
      <span class="align-middle">BoondManager Dashboards</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Synthèse de la production
      </li>

      <li [class]="isMonthlySummarySectionActivated ? 'sidebar-item active' : 'sidebar-item'">
        <a class="sidebar-link" (click)="changeActivatedSection(true)" [routerLink]="['/monthly-summary']">
          <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Synthèse mensuelle</span>
        </a>
      </li>

      <li [class]="!isMonthlySummarySectionActivated ? 'sidebar-item active' : 'sidebar-item'">
        <a class="sidebar-link" (click)="changeActivatedSection(false)" [routerLink]="['/annual-summary']">
          <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Synthèse annuelle</span>
        </a>
      </li>

    </ul>

  </div>
</nav>
