table {
  font-size: 0.5em;
}

//table th {
//  text-align: center;
//}
//table th {
//  text-align: center;
//}

.table-div {
  overflow: auto;
  white-space: nowrap;
}

.year-label-div {
  padding-top: 0.9375em;
}

.date-picker {
  font-size: 0.75em;
  margin-left: 0.3125em;
}

.date-picker-year-picker .mat-calendar-period-button {
  pointer-events: none;
}

.date-picker-year-picker .mat-calendar-arrow {
  display: none;
}
