<div class="mb-3 d-flex justify-content-start">
  <div class="d-flex align-content-center year-label-div">
    <h5>Année -</h5>
  </div>
  <div class="d-flex align-content-center date-picker">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="dp" [formControl]="date"
             [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event, dp)"
                      panelClass="date-picker-year-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
</div>


<div class="row mt-3">
  <div class="col-12 table-div">

    <!--    <div class="card">-->
    <!--      <div class="card-body">-->


    <p-table #dt1 [columns]="cols" [value]="data" selectionMode="multiple" [(selection)]="selectedData"
             dataKey="consultantID" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25]"
             [loading]="loading"
             styleClass="datatable-annual-summary p-datatable-customers p-datatable-striped p-datatable-gridlines"
             [paginator]="true" currentPageReportTemplate="Affichage de {first} à {last} entrées sur {totalRecords}"
             [globalFilterFields]="['clientName']">

      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-mr-2"
                  pTooltip="EXCEL" tooltipPosition="bottom" style="margin-right: 5px;"></button>
          <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                  class="p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"
                  style="margin-right: 5px;"></button> -->
          <button type="button" pButton pRipple icon="pi pi-print" onclick="window.print()"
                  class="p-button-info p-ml-auto" pTooltip="Print" tooltipPosition="bottom"
                  style="margin-right: 34.375em;"></button>
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains',dt1)"
                       placeholder="Chercher"/>
            </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">

        <tr>
          <th></th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Janvier</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Février</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Mars</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Avril</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Mai</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Juin</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Juillet</div>
          </th>
          <th Colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Août</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Septembre</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Octobre</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Novembre</div>
          </th>
          <th colspan="2">
            <div class="p-d-flex p-jc-between p-ai-center">Décembre</div>
          </th>
          <th colspan="3">
            <div class="p-d-flex p-jc-between p-ai-center">Total</div>
          </th>
        </tr>

        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Client final
              <p-columnFilter type="text" field="clientName" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[0].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[0].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[1].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[1].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[2].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[2].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[3].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[3].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[4].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[4].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[5].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[5].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[6].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[6].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[7].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[7].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[8].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[8].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[9].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[9].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[10].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[10].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="summary[11].totalMonthInvoicesAmountHT"
                              display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="summary[11].totalMonthMarginHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Facturation
              <p-columnFilter type="numeric" field="totalYearInvoicesAmountTTC" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">Marge
              <p-columnFilter type="numeric" field="totalDeltaYearHT" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">% de marge
              <p-columnFilter type="numeric" field="percentageTotalDeltaYearHT" display="menu"></p-columnFilter>
            </div>
          </th>
        </tr>


      </ng-template>

      <ng-template pTemplate="body" let-dataRow>
        <tr>
          <td>{{dataRow?.clientName! ? dataRow?.clientName! : '-'}}</td>
          <td>{{dataRow?.summary![0]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![0]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![0]?.totalMonthMarginHT ? Number((dataRow?.summary![0]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![1]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![1]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![1]?.totalMonthMarginHT ? Number((dataRow?.summary![1]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![2]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![2]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![2]?.totalMonthMarginHT ? Number((dataRow?.summary![2]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![3]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![3]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![3]?.totalMonthMarginHT ? Number((dataRow?.summary![3]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![4]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![4]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![4]?.totalMonthMarginHT ? Number((dataRow?.summary![4]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![5]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![5]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![5]?.totalMonthMarginHT ? Number((dataRow?.summary![5]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![6]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![6]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![6]?.totalMonthMarginHT ? Number((dataRow?.summary![6]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![7]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![7]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![7]?.totalMonthMarginHT ? Number((dataRow?.summary![7]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![8]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![8]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![8]?.totalMonthMarginHT ? Number((dataRow?.summary![8]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![9]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![9]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![9]?.totalMonthMarginHT ? Number((dataRow?.summary![9]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![10]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![10]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![10]?.totalMonthMarginHT ? Number((dataRow?.summary![10]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![11]?.totalMonthInvoicesAmountHT ? Number((dataRow?.summary![11]?.totalMonthInvoicesAmountHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.summary![11]?.totalMonthMarginHT ? Number((dataRow?.summary![11]?.totalMonthMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.totalYearPaymentsAmountHT! ? Number((dataRow?.totalYearPaymentsAmountHT).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.totalYearMarginHT! ? Number((dataRow?.totalYearMarginHT!).toFixed(2)) + ' €' : '-'}}</td>
          <td>{{dataRow?.percentageTotalYearMarginHT! ? Number((dataRow?.percentageTotalYearMarginHT!).toFixed(2)) + ' %' : '-'}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="15">Aucune donnée disponible !</td>
        </tr>
      </ng-template>

    </p-table>

  </div>
</div>

<!--  </div>-->
<!--</div>-->
