<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a class="text-muted" href="javascript:void(0)"><strong>my tdsDashboard</strong></a> &copy; 2022
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="javascript:void(0)">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="javascript:void(0)">Help Center</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="javascript:void(0)">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="javascript:void(0)">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
