/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-toastr {
  width: 55% !important; // Specify toastr-dialog width for all devices
  font-size: 0.8125em !important;
}

.monthly-data-errored-row {
  background-color: red !important;
}
